# === Rust & CMake ===
target/
**/target/
build/
**/build/
Cargo.lock

# === Archivos de Sistema Operativo ===
.DS_Store
Thumbs.db
*.swp
*~
*.bak

# === Configuración de IDEs ===
.vscode/
.idea/
.zed/
*.sublime-project
*.sublime-workspace

# === KDE / KWin Specifics ===
*.kdev4
.directory
adapters/kwin_script/*.kpackagetool6
adapters/plasmoid/*.plasmoid
*.so
adapters/plasmoid/package/contents/ui/org/

# === Documentación y Reportes (Uso Interno) ===
*.md
*.MD
!README.md
!Readme.md
!readme.md
!CONTRIBUTING.md
!Contributing.md
!contributing.md
